name: Checks

on: [push]

jobs:
  test_a_lint:
    name: Test Und Lint
    runs-on: ubuntu-24.04
    steps:
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Test
        run: docker compose run --rm app sh -c "python mange.py test"
      - name: Lint
        run: docker compose run --rm app sh -c "flake8"
        
        